<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pixel Painter</title>
  <style>
    .canvas {
      width: -moz-max-content;
      border: 2px solid;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="canvas">
      <canvas @click="handleCanvasClick" ref="canvas" :width="width" :height="height"></canvas>
    </div>
    <button @click="isPickingColor = true">{{ isPickingColor ? '正在取色' : '取色' }}</button>
    <input type="color" v-model="color">
    <label :style="{color: c.name}" v-for="c of commonColor">
      <input type="radio" :value="c.value" v-model="color">{{c.name}}
    </label>
  </div>
<script src="vue-2.5.17.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data() {
      return {
        pixelData: [],
        commonColor: [{
          name: 'red',
          value: '#ff0000',
        }, {
          name: 'orange',
          value: '',
        }, {
          name: 'yellow',
          value: '#ffff00',
        }, {
          name: 'green',
          value: '#008000',
        }, {
          name: 'aqua',
          value: '#008000',
        }, { 
          name: 'blue',
          value: '#0000ff', 
        }, {
          name: 'purple',
          value: '', 
        }, {
          name: 'black',
          value: '#000000', 
        }, {
          name: 'white',
          value: '#ffffff',
        }],
        color: 'red',
        width: 0,
        height: 0,
        isPickingColor: false,
      }
    },
    methods: {
      handleCanvasClick(e) {
        if (this.isPickingColor) {
          this.pickColor(e)
        } else {
          this.drawDot(e)
        }
      },
      pickColor(e) {
        console.log('进入到pickColor')
        const x = e.layerX
        const y = e.layerY
        const p = this.ctx.getImageData(x,y,1,1).data
        const hexColor = this.rgba2hex(p)
        console.log(p, hexColor)
        this.color = hexColor
        this.isPickingColor = false
      },
      drawDot(e) {
        console.log(e);
        this.ws.send(JSON.stringify({
          type: 'drawDot',
          x: e.layerX,
          y: e.layerY,
          color: this.color,
        }))
      },
      rgba2hex(dot) {
        dot = Array.from(dot)
          .map(it => it.toString(16).padStart(2, '0'))
        return `#${dot[0]}${dot[1]}${dot[2]}`
      }
    },
    mounted() {
      const ws = new WebSocket('ws://localhost:9095/pixel')
      console.log('发送')
      this.ws = ws;

      const canvas = this.$refs.canvas
      const ctx = canvas.getContext('2d')
      this.ctx = ctx
      ws.onmessage = ({ data }) => {
        const state = JSON.parse(data)
        // debugger
        if (state.type === 'init') {
          // this.pixelData = state.pixelData
          this.width = state.pixelData[0].length
          this.height = state.pixelData.length
          console.log('初始化')
          Vue.nextTick(() => {
            state.pixelData.forEach((row, y) => {
              row.forEach((color, x) => {
                ctx.fillStyle = color
                ctx.fillRect(x, y, 1, 1)
              })
            })
          })
        } else if (state.type === 'updateDot') {
          // Vue.set(this.pixelData[state.y], state.x, state.color)
          ctx.fillStyle = state.color
          ctx.fillRect(state.x, state.y, 1, 1)
        }
      }
    },
  })
</script>
</body>
</html>